# compiled output
backend/app/dist
backend/app/node_modules

# env
backend/app/.env

# docker
backend/app/Dockerfile
backend/docker-compose.yml

# Logs
backend/app/logs
backend/app/*.log
backend/app/npm-debug.log*
backend/app/pnpm-debug.log*
backend/app/yarn-debug.log*
backend/app/yarn-error.log*
backend/app/lerna-debug.log*

# OS
backend/app/.DS_Store

# Tests
backend/app/coverage
backend/app/.nyc_output

# IDEs and editors
backend/app/.idea
backend/app/.project
backend/app/.classpath
backend/app/.c9/
backend/app/*.launch
backend/app/.settings/
backend/app/*.sublime-workspace

# IDE - VSCode
backend/app/.vscode/*
backend/app/!.vscode/settings.json
backend/app/!.vscode/tasks.json
backend/app/!.vscode/launch.json
backend/app/!.vscode/extensions.json